<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- <plugins>
        <plugin interceptor="com.vdlm.dal.interceptor.MyBatisInterceptor">
        </plugin>
    </plugins> -->
    <typeAliases>
        #foreach($entity in $!entityBoList)
        <typeAlias alias="$!{entity.upperEntityEnName}" type="${packageName}.model.domain.${entity.upperEntityEnName}"/>
        #end
    </typeAliases>

    <mappers>
        #foreach($entity in $!entityBoList)
        <mapper resource="mapper/$!{entity.upperEntityEnName}Mapper.xml"/>
        #end
    </mappers>

</configuration>